.Resume{
    background: #fff;
    padding-top: 90px;
    padding-bottom: 42px;
    overflow: hidden;
}

.row::before, .row::after {
    content: " ";
    display: table;
}

.Resume h3{
    font: 18px/24px 'opensans-bold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

.Span {
    border-bottom: 3px solid #0762f9;
    padding-bottom: 6px;
}

.Item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #34b7a7;
    position: relative;
}

.Item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #34b7a7;
}

.SubHead {
    line-height: 18px;
    font-size: 18px;
    color: #1d685f;
    margin-bottom: 10px;
    font-family: 'Baloo Bhai 2', cursive;
    font-weight: bold;
}

.SubLower{
    font-size: 14px;
    background: #effbf9;
    padding: 5px 15px;
    display: inline-block;
    font-family: 'Libre Baskerville', serif;
    margin-bottom: 10px;
    color: #34b7a7;
}

.SubPara {
    color: darkblue;
    font-family: 'Libre Baskerville', serif;
    
}